.buy{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buy form{
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    border: 2px solid #ddd;
    padding: 2rem;
    max-width: calc(400px + 4rem);
    width: 100%;
    border-radius: 5px;
}
.buy form table{
    max-width: 400px;
    width: 100%;
    border-collapse: collapse;
    
}
.buy form table th{
    text-align: left;

}
.buy form table td:last-child{
    padding: 0;
    
    
}
.buy form table td{
    text-align: right;
    
}

.buy form table td, .buy form table th{
    font-size: 1.3rem;
    padding: 10px 0;
    border-top: 1px solid #ddd;        
}
.buy form table td input{
    width: 100%;
   background-color: none;
   border: none;
   outline: none;
   height: 100%;

    
    
}
.buy form table td button{
    width: 100%;
    padding: 10px 0;
    font-size: 1.5rem;
    background-color: #f90;
    font-weight: 600;
    color: #ddd;
    
    
}
.buy form table td button:hover{
    box-shadow: none;
    background-color: rgb(255, 172, 47);
    color: #ccc;
    
    
}